*{
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-titulo {
    text-align: center;
    padding: 0 50px;
    font-family: 'Sen', sans-serif;
    color: white;
}

.menu {
    height: 100%;
    width: 115px;
    background-color: black;
    position: fixed;
    top: 0;
}

.menu-list {
    font-family: 'Outfit', sans-serif;
    color: white;
    padding-top: 50px;
    padding-right: 0px; 
    list-style: armenian;
}

.menu-list-itens{
    margin-top: 25px;
}

.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.container-conteudo {
    margin-left: 115px;
}

.featured-movies {
    height: 50vh;
    padding: 50px;
}

.titulo-fmovie {
    width: 200px;
}

.descriçao-fmovie {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.botao-fmovie {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.movie-list-container {
    padding: 20px;
}

.movie-list {
    display: flex;
    height: 300px;
    align-items: center;
}

.movie-list-iten {
    margin-left: 30px;
    position: relative;
}

.movie-list-item-img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    margin-right: 30px;
}

.rodape {
    margin-left: 120px;
    padding: 50px;
    text-align: center;
}

