:root {
    --user-info-bg-color: rgb(0, 0, 0);
    --page-content-bg-color: rgb(82, 82, 82);
    --font-color: white;

}

body {
    margin: 0;
  }
  
  #root-container {
    --first-col-width: 30%;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: var(--first-col-width) calc(100% - var(--first-col-width));
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #user-info {
    --first-row-height: 45%;
    background-color: var(--user-info-bg-color);
    display: grid;
    grid-template-rows: var(--first-row-height) calc(100% - var(--first-row-height)); 
  }
  
  .total-size {
    height: 100%;
    width: 100%;
  }
  
  #user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  #user-photo {
    width: 40%;
    border-radius: 50%;
  }
  
  #theme-changer {
    width: 20%;
    border: none;
    padding: 6px 8px;
    border-radius: 3px;
    background-color: var(--page-content-bg-color);
    color: var(--font-color);
  }
  #theme-changer:hover {
    cursor: pointer;
    filter: invert(1);
  }
  
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content-changer {
    margin-top: 10px;
    width: 70%;
    height: 50px;
    border-radius: 3px;
    display: grid;
    place-items: center;
    background-color: var(--user-info-bg-color);
  }
  .content-changer:hover {
    cursor: pointer;
    filter: invert(1);
  }
  
  .networking-link {
    text-decoration: none;
    color: var(--font-color);
    width: 70%;
    height: 50px;
    border-radius: 3px;
    display: grid;
    place-items: center;
    background-color: var(--user-info-bg-color);
  }
  .networking-link:hover {
    cursor: pointer;
    filter: invert(1);
  }
  
  #page-content {
    background-color: var(--page-content-bg-color);
    overflow-y: auto;
  }
  
  #about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #text-about-me {
    margin: 0 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
  }
  
  .content-disable {
    display: none;
  }
  
  .content-enable {
    display: block;
  }
  
  #repos-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .repo-container {
    --height: 100px;
    display: grid;
    place-items: center;
    -webkit-box-direction: normal;
    width: 40%;
    height: var(--height);
    grid-template-columns: var(--height) calc(100% - var(--height));
    color: var(--font-color);
    text-decoration: none;
    background-color: var(--user-info-bg-color);
    padding: 10px;
  }
  
  .repo-container > img {
    width: 80%;
  }
  
  .repo-container > div {
    display: grid;
    grid-template-rows: 30% 70%;
    overflow-y: auto;
  }
  