.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbarcontainers {
    display: flex;
    align-items: center;
    background-color: lightblue;
    padding: 0px 50px;
    height: 100%;
}

.menu {
    flex: 1;
}

.imagemmenu{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.titulo {
    flex: 1;
}

.imagemsair {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}